  <style type="text/css">
 H2 {color: #f2f2f2;
 font-family: Arial, Helvetica, sans-serif;
 background-color: #782433;}

 H1 {color: #782433; 
   font-family: AngsanaUPC;}

</style>


<style type="text/css">#border {
  text-decoration: none;
    border-radius: 25px;
    background: #f2f2f2;
    padding: 20px; 
    width: 200px;
    height: 150px; 
} 
#border:hover{
   background-color:  #787878;
  transition:  3s ease;
}
a {
  color: #782433;
}


.page { 
text-align: center;
} 
p {
  text-align: center;
}
.header {
background: url(UDCBG.jpg);
  text-align: center;
}
.footer {
}
.row {
  background:      #f2f2f2; 
}</style>

<head>
<link rel="style" type="text/css" href="Style.css" media="all" /> 
    <title>UDC - University of the Distrcit of Columbia</title>

</head>

<body background= white>
    <nav>
        <div class="page">
 
          
<style type="text/css">

    ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
      border-top:4px solid #782433;
      border-bottom: 2px solid #fff;

    }

    ul li{

        display: inline-block;

        position: relative;

        line-height: 21px;

        text-align: center;

    }

    ul li a{

        display: block;

        padding: 8px 25px;

        color: Black;

        text-decoration: none;

    }

    ul li a:hover{
transition:  3s ease;
        color: #9A2E41;
        background: #787878;
   
    }

    ul li ul.dropdownlist{

        min-width: 125px; /* Set width of the dropdown */

        background: #f2f2f2;

        display: none;

        position: absolute;

        z-index: 999;

        left: 0;

}

    ul li:hover ul.dropdownlist{

        display: block;

    }

    ul li ul.dropdownlist li{

       display: block;

    }

</style>
